[submodule "judo-meta-jsl"]
	path = judo-meta-jsl
	url = git@github.com:BlackBeltTechnology/judo-meta-jsl.git
	branch = develop
[submodule "judo-tatami-jsl"]
	path = judo-tatami-jsl
	url = git@github.com:BlackBeltTechnology/judo-tatami-jsl.git
	branch = develop
[submodule "judo-runtime-core"]
	path = judo-runtime-core
	url = git@github.com:BlackBeltTechnology/judo-runtime-core.git
	branch = develop
[submodule "judo-runtime-core-jsl"]
	path = judo-runtime-core-jsl
	url = git@github.com:BlackBeltTechnology/judo-runtime-core-jsl.git
	branch = develop
[submodule "judo-meta-psm"]
	path = judo-meta-psm
	url = git@github.com:BlackBeltTechnology/judo-meta-psm.git
	branch = develop
[submodule "judo-meta-asm"]
	path = judo-meta-asm
	url = git@github.com:BlackBeltTechnology/judo-meta-asm.git
	branch = develop
[submodule "judo-meta-expression"]
	path = judo-meta-expression
	url = git@github.com:BlackBeltTechnology/judo-meta-expression.git
	branch = develop
[submodule "judo-meta-jql"]
	path = judo-meta-jql
	url = git@github.com:BlackBeltTechnology/judo-meta-psm-jql.git
	branch = develop
[submodule "judo-meta-measure"]
	path = judo-meta-measure
	url = git@github.com:BlackBeltTechnology/judo-meta-measure.git
	branch = develop
[submodule "judo-meta-rdbms"]
	path = judo-meta-rdbms
	url = git@github.com:BlackBeltTechnology/judo-meta-rdbms.git
	branch = develop
[submodule "judo-meta-liquibase"]
	path = judo-meta-liquibase
	url = git@github.com:BlackBeltTechnology/judo-meta-liquibase.git
	branch = develop
[submodule "judo-tatami-base"]
	path = judo-tatami-base
	url = git@github.com:BlackBeltTechnology/judo-tatami-base.git
	branch = develop
[submodule "judo-meta-query"]
	path = judo-meta-query
	url = git@github.com:BlackBeltTechnology/judo-meta-query.git
	branch = develop
[submodule "judo-jsl-vscode"]
	path = judo-jsl-vscode
	url = git@github.com:BlackBeltTechnology/judo-jsl-vscode.git
	branch = develop
[submodule "judo-dao-api"]
	path = judo-dao-api
	url = git@github.com:BlackBeltTechnology/judo-dao-api.git
	branch = develop
[submodule "judo-sdk-common"]
	path = judo-sdk-common
	url = git@github.com:BlackBeltTechnology/judo-sdk-common.git
	branch = develop
[submodule "judo-dispatcher-api"]
	path = judo-dispatcher-api
	url = git@github.com:BlackBeltTechnology/judo-dispatcher-api.git
	branch = develop
[submodule "judo-operation-utils"]
	path = judo-operation-utils
	url = git@github.com:BlackBeltTechnology/judo-operation-utils.git
	branch = develop
[submodule "judo-tatami-core"]
	path = judo-tatami-core
	url = git@github.com:BlackBeltTechnology/judo-tatami-core.git
	branch = develop
[submodule "judo-meta-expression-asm"]
	path = judo-meta-expression-asm
	url = git@github.com:BlackBeltTechnology/judo-meta-expression-asm.git
	branch = develop
[submodule "judo-jsl-springboot-parent"]
	path = judo-jsl-springboot-parent
	url = git@github.com:BlackBeltTechnology/judo-jsl-springboot-parent.git
	branch = develop
[submodule "judo-jsl-springboot-starter"]
	path = judo-jsl-springboot-starter
	url = git@github.com:BlackBeltTechnology/judo-jsl-springboot-starter.git
	branch = develop
[submodule "judo-jsl-springboot-archetype"]
	path = judo-jsl-springboot-archetype
	url = git@github.com:BlackBeltTechnology/judo-jsl-springboot-archetype.git
	branch = develop
[submodule "judo-misc-p2"]
	path = judo-misc-p2
	url = git@github.com:BlackBeltTechnology/judo-misc-p2.git
	branch = develop
[submodule "judo-meta-expression-psm"]
	path = judo-meta-expression-psm
	url = git@github.com:BlackBeltTechnology/judo-meta-expression-psm.git
	branch = develop
[submodule "judo-jsl-tmbundle"]
	path = judo-jsl-tmbundle
	url = git@github.com:BlackBeltTechnology/judo-jsl-tmbundle.git
	branch = develop
[submodule "judo-psm-archetype"]
	path = judo-psm-archetype
	url = git@github.com:BlackBeltTechnology/judo-psm-archetype.git
	branch = develop
