/**/target/
/**/target-buildVariable/
/**/bin/
/**/.settings/
/**/.checkstyle
/**/.idea/
/**/*.iml
/**/lombok.config
# original location
!**/config/lombok.config
/**/*.pyc
/**/*~
/**/gen/
# model
**/.runtime
**/data/localmodel
**/data/.config
**/stamp.dat
**/.index
**/maven-metadata-local.xml
**/format_version.dat
.mvn/timing.properties
/**/*-web/etc
/**/*-web/frontend
/**/*-web/lib
/**/*-web/node
/**/.credentials
/**/.work/
/**/*.versionsBackup
/**/*.json-angular
/**/*$py.class
.output
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.externalToolBuilders/
*.pydevproject
.cproject
.factorypath
.buildpath
.target
.tern-project
.texlipse
.springBeans
.recommenders/
**/.DS_Store
wercker.env
/**/.wercker
.release
**/.flattened-pom.xml
**/.antlr-generator-3.2.0-patch.jar


